In [1]:
import pandas as pd
import sys
import os
import tensorflow as tf

sys.path.append(os.path.abspath('../src'))
from preprocessing import clean_data

# Paths
RAW_PATH = '../data/raw/marine_water_quality.xlsm'
CLEAN_PATH = '../data/processed/marine_water_quality_cleaned.csv'

with tf.device('/device:CPU:0'):
    # Load and clean
    df_cleaned = clean_data(RAW_PATH)


    # Save cleaned version
    df_cleaned.to_csv(CLEAN_PATH, index=False)
    df_cleaned.head()

2025-04-22 13:53:59.730130: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M2
2025-04-22 13:53:59.730162: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 8.00 GB
2025-04-22 13:53:59.730171: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 2.67 GB
2025-04-22 13:53:59.730381: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2025-04-22 13:53:59.730393: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [2]:
df_cleaned.head()

,Depth,5-day Biochemical Oxygen Demand (mg/L),Ammonia Nitrogen (mg/L),Chlorophyll-a (μg/L),Dissolved Oxygen (%saturation),Dissolved Oxygen (mg/L),E. coli (cfu/100mL),Faecal Coliforms (cfu/100mL),Nitrite Nitrogen (mg/L),Nitrate Nitrogen (mg/L),...,Secchi Disc Depth (M),Suspended Solids (mg/L),Temperature (°C),Total Inorganic Nitrogen (mg/L),Total Kjeldahl Nitrogen (mg/L),Total Nitrogen (mg/L),Total Phosphorus (mg/L),Turbidity (NTU),Unionised Ammonia (mg/L),Volatile Suspended Solids (mg/L)
6,Surface Water,0.9,0.15,1.3,80.0,6.3,4000,4400,0.081,0.043,...,2.3,2,17.3,0.27,0.45,0.57,0.09,4.8,0.005,1.5
7,Middle Water,0.9,0.13,1.3,78.0,6.2,2300,2400,0.064,0.036,...,2.3,9.5,17.3,0.23,0.45,0.55,0.06,3.6,0.005,4
8,Bottom Water,1,0.16,1.1,82.0,6.5,2900,3000,0.07,0.037,...,2.3,10,17.3,0.27,0.66,0.77,0.41,5.4,0.006,4
12,Surface Water,1.3,0.26,1,58.0,4.9,2700,2900,0.022,0.1,...,3.0,10,15.0,0.38,1.3,1.42,0.2,2.2,0.004,6.5
13,Middle Water,0.9,0.23,1.1,60.0,5.0,6300,7400,0.019,0.1,...,3.0,15,14.9,0.35,1.2,1.32,0.12,2.0,0.004,3.5